/* Some Notes:

  === General ===
  >> Use hsl/hsla color coding

  === Specificity ===
  >> Aim for low specificity for reset and base classes (0,0,*)
  >> Aim for intermediate specificity for utitlity classes (0,1-2,*)
  >> Aim for highest specificity for element-targeted classes (0,2-3,*)
  ** Element > Util > Base/Reset 
  
  === Selector Conventions ===
  >> Move higher up the parent tree to achieve more specificity
  >> Use duplicate selector trick to increase specificity 
  >> Max of 3 selectors for a style block 

  === Util Classes ===
  >> Follows Tailwind idea of adding classes to the HTML 
*/

:root {
  /* global variables */

  /* colors */
  --primary-blue: hsl(218, 100%, 49%);
  --dark-blue: hsl(219, 100%, 11%);
  --dark-grey: hsl(180, 1%, 20%);
  --secondary-blue: hsl(224, 92%, 95%);
  --light-grey-primary: hsl(220, 5%, 89%);
  --light-grey-secondary: hsl(60, 9%, 98%);
  --light-lavendar: hsl(261, 84%, 83%);

  /* colors:hover states */
  --dark-blue-hover: hsla(219, 100%, 11%, 0.2);

  --font-primary: Inter;

  --icon-width-sm: 16px;

  --btn-onDark: white;
  --btn-onLight: var(--dark-grey, hsl(0, 0%, 0%));
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */

  /* global typography rules */
  font-family: var(--font-primary, Inter), sans-serif;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  line-height: 1.5;
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

h1,
h2 {
  line-height: 1;
  margin: 2rem 0;
}

p {
  /* make small text easily readible */
  max-width: 60vw;
  margin: 1rem 0;
}

button {
  border: none;
  border-radius: 4px;
  padding: var(--btn-primary-padding);
}

a {
  text-decoration: none;
  color: currentColor;
}

a:hover,
button:hover {
  cursor: pointer;
}

/* ================ End of Reset & Global Styles ================= */

/* utility classes */

.container-edge {
  display: block;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 1rem;
}

.container-sm {
  padding: 2.5rem;
  text-align: start;
  max-width: 80%;
}

.section-heading.section-heading {
  margin: 8rem 0 6rem;
  text-align: center;
}

.card {
  padding: 1.5rem 2.5rem;
  margin-bottom: 1.25rem;
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 67%);
}

.card-sm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: var(--btn-primary-padding);
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 0.95rem;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  text-align: center;
}

.btn-primary {
  background-color: white;
  color: var(--dark-blue);
}

.btn-secondary {
  background-color: var(--dark-blue);
  color: white;
}

.btn-outline {
  border: 2px solid var(--dark-blue);
  background-color: transparent;
  color: var(--dark-blue);
}

.btn-outline:hover {
  background-color: var(--dark-blue);
  color: white;
  box-shadow: -2.9px 5.5px 9.2px rgba(0, 0, 0, 0.061),
    -6.7px 12.7px 35.8px rgba(0, 0, 0, 0.089),
    -29px 55px 78px rgba(0, 0, 0, 0.15);
  scale: 1.05;
}

.btn-outline-onDark {
  border: 1px solid white;
  color: white;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  min-width: 80px;
  padding: 0.75rem 1rem;
}

.btn-md {
  padding: 0.75rem 2rem;
  min-width: 130px;
}

.btn-lg {
  padding: 1rem 2rem;
  min-width: 200px;
}

.btn:hover {
  opacity: 0.9;
}

.text-xl {
  font-size: clamp(32px, calc(1.5rem + 4vw), 4.5rem);
  font-weight: 800;
}

.text-lg {
  font-size: clamp(24px, calc(1.25rem + 2vw), 3.75rem);
  font-weight: 700;
}

.text-md {
  font-size: clamp(20px, calc(1.25rem + 1vw), 2.25rem);
  font-weight: 700;
}

.text-sm {
  font-size: 16px;
  font-weight: 400;
}

.text-xs {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
}

.bg-primary {
  background-color: var(--primary-blue);
}

.bg-muted {
  background-color: var(--light-grey-primary);
}

.bg-dark {
  background-color: var(--dark-blue);
}

.selected {
  border: none;
  background-color: white;
  /* must add extruded class as well */
}

.extruded {
  box-shadow: -0.8px 3.1px 11.1px 5px rgba(0, 0, 0, 0.05),
    -1.9px 7.5px 27.3px 5px rgba(0, 0, 0, 0.059),
    -3.6px 14.1px 50px 5px rgba(0, 0, 0, 0.066),
    -29px 113px 249px 5px rgba(0, 0, 0, 0.13);
}

.extruded-sm {
  box-shadow: -5.1px 2.7px 8.4px rgba(0, 0, 0, 0.028),
    -13px 12px 20px rgba(0, 0, 0, 0.042), -62px 65px 112px rgba(0, 0, 0, 0.07);
}

.extruded-md {
  box-shadow: -2.9px 5.5px 9.2px rgba(0, 0, 0, 0.061),
    -6.7px 12.7px 35.8px rgba(0, 0, 0, 0.089),
    -29px 55px 78px rgba(0, 0, 0, 0.15);
}

/* ========= End of Utils ===========*/

.hero_section {
  height: max(90vh, 740px);
  background-color: var(--primary-blue);
  padding: 0 1rem;
  color: white;
  position: relative;
}

.hero_section .hero_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 0;
  z-index: 1;
  background-color: transparent;
}

.hero_box .nav_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 0 clamp(24px, calc(3rem + 2vw), 64px);
  width: min(90vw, 1400px);
}

.hero_box .nav_box .nav_links {
  display: flex;
  gap: 2rem;
}

.hero_box .nav_box img {
  max-width: 150px;
}

.hero_box .nav_box .logo_main {
  justify-self: center;
  min-width: 100px;
}

.hero_box .nav_box .user_auth {
  justify-self: end;
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.nav_box .user_auth .btn_login {
  background-color: transparent;
  font-weight: 400;
  color: var(--btn-onDark);
}

.nav_box .user_auth .btn_login:hover {
  background-color: var(--dark-blue-hover);
}

.nav_box .user_auth .btn_signup {
  color: var(--btn-onLight);
  z-index: 1; /*applicable because the btn is a flex item*/
}

.hero_section .hero_copy * {
  text-align: center;
  margin-inline: auto;
  max-width: 900px;
}

.hero_section .hero_heading {
  font-size: clamp(32px, calc(1.5rem + 4vw), 4.5rem);
  width: min(450px, 75vw);
  line-height: 1;
  margin-top: 4rem;
  font-weight: 800;
}

.hero_section .social_links {
  position: absolute;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

/* .hero_section .hero_img {
  width: 64vw;
  min-width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
} */

.hero_section .hero_img_box {
  /* position: absolute; */
  margin-top: 3.5rem;
  display: flex;
  gap: min(5vw, 70px);
  justify-content: center;
}

.hero_img_box .hero_phone_box {
  overflow: hidden;
  border-radius: 2rem;
  border: 4px solid black;
  max-width: 226px;
  min-width: 90px;

  /* box-shadow: -3.1px 2.9px 5.5px rgba(0, 0, 0, 0.069),
    -10.3px 9.6px 18.5px rgba(0, 0, 0, 0.101),
    -46px 43px 83px rgba(0, 0, 0, 0.17); */
}

.hero_img_box .hero_phone_box:nth-child(2) {
  scale: 1.15;
}

.hero_phone_box .hero_img_ph {
  width: 100%;
  object-fit: fill;
}

.hero_section .bg_asset {
  position: absolute;
  width: clamp(15rem, 30vw + 4rem, 20rem);
  top: -5rem;
  right: -5rem;
}

/* Main Page Content */

main > section {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
}

/* About Section */

.about_us_section .scroll_indicator {
  font-size: 1.5rem;
  width: min(10vw, 65px);
  height: min(10vw, 65px);
  border-radius: 4px;
  display: grid;
  place-content: center;
  margin: 2.5rem 4rem 4rem auto;
}

.about_us_section .appstore_cta_box {
  margin: 12rem 0 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.about_us_section .appstore_cta img {
  display: inline-block;
  width: 160px;
}

/* .about_us_section .about_us_heading {
  margin: 8rem 0 6rem;
  text-align: center;
} */

.about_us_section .main_content_box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.5rem;
  margin: 0 4rem 4rem;
  place-content: center;
}
/* 
.about_us_section .main_content_box::before {
  content: "";
  height: 2rem;
} */

.about_us_section .about_img_box {
  display: flex;
  justify-content: center;
  position: relative;
}

.about_us_section .about_img_ph {
  max-width: 262px;
  min-width: 90px;
  border-radius: 2rem;
  border: 4px solid black;
  z-index: 2;
  scale: 1.1;
}

.about_us_section .phone_bg {
  background-color: var(--primary-blue);
  width: 100%;
  height: 65%;
  align-self: flex-end;
  position: absolute;
  z-index: 1;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

.about_us_section .about_copy_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about_copy_box .about_copy_title {
  max-width: 70%;
  margin-bottom: 1rem;
}

.about_copy_box .about_copy {
  margin-bottom: 2rem;
  max-width: 70%;
}

.about_copy_box .about_cta {
  width: 190px;
}

/* Clients Section */

.clients_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients_section .clients_copy {
  text-align: center;
  margin: -3rem 0 3rem;
  max-width: min(45%, 600px);
  min-width: 250px;
}

.clients_section .brand_box {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: max(65%, 280px);
  justify-content: center;
}

.brand_box .brand_card {
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  width: min(190px, 30vw);
  min-width: 110px;

  box-shadow: -6.7px 6.7px 5.3px rgba(0, 0, 0, 0.02),
    -22.3px 22.3px 17.9px rgba(0, 0, 0, 0.032),
    -10px 100px 80px rgba(0, 0, 0, 0.02);
}

.brand_box .brand_card img {
  width: 100%;
}

/* Testimonials Section */

.testimonials_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials_section .testimonials_copy {
  text-align: center;
  margin: -3rem 0 3rem;
  max-width: min(45%, 600px);
  min-width: 250px;
}

.testimonials_section .testimonial_card_box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 70%;
  column-gap: 6px;
  row-gap: 12px;
  margin-bottom: 4rem;
}

.testimonials_section .testimonial_card {
  border: 0.5px solid var(--light-grey-primary);
  border-radius: 0.5rem;
  background-color: var(--light-grey-secondary);
  padding: 2.5rem;
}

.testimonials_section .testimonial_card:hover {
  background-color: white;
  scale: 1.01;
  border: none;

  box-shadow: -6.7px 6.7px 5.3px rgba(0, 0, 0, 0.02),
    -22.3px 22.3px 17.9px rgba(0, 0, 0, 0.032),
    -10px 100px 80px rgba(0, 0, 0, 0.02);
}

.testimonials_section .testimonial_text {
  margin-bottom: 2rem;
  color: var(--dark-blue);
}

.testimonial_card .user_profile {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.testimonial_card .user_profile * {
  margin: 0;
}

.testimonial_card .profile_pic {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.profile_details .user_title {
  color: #aaa;
  font-size: 12px;
}

.testimonials_section .testimonials_end {
  font-size: 3rem;
}

/* FAQs */

.FAQ_section .faq_card_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 8rem;
}

.faq_card_box .faq_card {
  border: 0.5px solid var(--light-grey-primary);
  border-radius: 0.5rem;
  background-color: var(--light-grey-secondary);
  padding: 1rem;

  width: min(70%, 700px);
  min-width: 280px;

  display: grid;
  grid-template-columns: minmax(auto, 30px) 1fr;
  column-gap: 1.5rem;
  row-gap: 0.75rem;
  align-items: center;
  cursor: pointer;
}

.faq_card .dummy_content {
  opacity: 0;
  height: 0;
  display: none;
}

.faq_card .faq_answer {
  display: none;
  font-weight: 300;
}

.faq_card .icon_box .plus_icon,
.faq_card .icon_box .minus_icon {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  /* line-height: 50%; */
}

.faq_card .icon_box .minus_icon {
  color: red;
}

.faq_card .icon_box * {
  display: none;
  text-align: center;
}

.show.show.show {
  display: block;
}

.open.open.open {
  border: none;
  background-color: white;

  box-shadow: -0.9px 2.2px 5.3px rgba(0, 0, 0, 0.012),
    -3.1px 7.4px 17.9px rgba(0, 0, 0, 0.018),
    -14px 33px 80px rgba(0, 0, 0, 0.03);
}

/* App CTA Section */

.dl_app_section {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 8rem;
}

.dl_copy_box * {
  margin-bottom: 2rem;
}

.dl_copy_box .dl_title {
  max-width: 280px;
}

.dl_copy_box .dl_copy {
  width: 65%;
  min-width: 280px;
}

.dl_copy_box .appstore_cta_box {
  display: flex;
  justify-content: flex-start;
  gap: 2.5rem;
}

.dl_copy_box .appstore_cta img {
  display: inline-block;
  width: 160px;
}

.dl_copy_box .about_img_box {
  display: flex;
  justify-content: center;
}

.dl_app_section .cta_img_ph {
  max-width: 262px;
  min-width: 90px;
  border-radius: 2rem;
  border: 4px solid black;
  scale: 1.1;

  box-shadow: -7.2px 6.1px 5px rgba(0, 0, 0, 0.021),
    -20px 16.9px 13.8px rgba(0, 0, 0, 0.03),
    -48.2px 40.7px 33.2px rgba(0, 0, 0, 0.039),
    -160px 135px 110px rgba(0, 0, 0, 0.06);
}

/* Banner */

.sub_banner_section {
  width: 100%;
  background-color: var(--primary-blue);
  padding: 3rem 8rem;
  color: white;
  border-radius: 0.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  margin-bottom: 8rem;
  font-weight: 300;

  /* Let it behave differently to the other sections because it is looks different */
  max-width: 1300px;
}

.sub_banner_section .sub_copy_box {
  display: inline-block;
}

.sub_banner_section .sub_title {
  font-weight: 500;
}

.sub_banner_section .sub_copy {
  max-width: 550px;
}

.sub_banner_section .sub_btn {
  display: inline-block;
  background-color: transparent;
  font-weight: 300;
}

.sub_banner_section .sub_btn:hover {
  background-color: white;
  color: var(--dark-blue);
  font-weight: 400;
}

/* Footer Section */
.logo > img {
  max-width: 180px;
}
